.grid-cell {
  width: 50px;
  height: 50px;
  background-color: lightgray;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.grid-cell.blocked {
  background-color: lightcoral;
}
.grid-cell.goal {
  background-color: lightgreen;
}
.grid-cell.start {
  background-color: lightskyblue;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  left: 10px;
  font-weight: bold;
  color: black;
}
